body {
    display: flex;
    justify-content: center;
}
body>#container {
    width: 960px;
}

header {
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}