/* Container Styles */
body {
    display: flex;
    justify-content: center;
}
body>#container {
    width: 960px;
}

/* Header Styles */
header {
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

/* Main Styles */
main {
    background-color: tomato;
}
/* Page Nav */
main>nav ul {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding: /* Top and Bottom */ 20px /* Left and Right */ 250px;
}

/*
main>nav ul li {
    padding: 0 200px;
}
*/
